#requirements

webbrowser

#I recommend using this command
pip3 install webbrowser 

googletrans

pip install googletrans
#if you want to see more. visit https://pypi.org/project/googletrans/

BeautifulSoup4

pip3 install BeautifulSoup4

pyperclip

whisper 
#more information link: https://github.com/openai/whisper
pip install -U openai-whisper

#Alternatively you can choose this way

pip install git+https://github.com/openai/whisper.git 
#to update package latest
pip install --upgrade --no-deps --force-reinstall git+https://github.com/openai/whisper.git
pyautogui

selenium
#use pip3
pip3 install selenium


ffmpeg
you must install ffmpeg to run run.py
#you may good to visit here: https://ffmpeg.org/


# on Ubuntu or Debian
sudo apt update && sudo apt install ffmpeg

# on Arch Linux
sudo pacman -S ffmpeg

# on MacOS using Homebrew (https://brew.sh/)
brew install ffmpeg

# on Windows using Chocolatey (https://chocolatey.org/)
choco install ffmpeg

# on Windows using Scoop (https://scoop.sh/)
scoop install ffmpeg




